---
interface Props {
  currentPath: string;
  lang?: string;
}

const { currentPath, lang } = Astro.props;

const basePath = lang ? `/${lang}/atividades` : '/atividades';
const baseRegex = lang ? new RegExp(`^/${lang}/atividades/?`) : /^\/atividades\/?/;
// Remove /atividades/ do início e quebra em partes
const parts = currentPath.replace(baseRegex, '').split('/').filter(Boolean);

function formatLabel(str: string) {
  return str.replace(/-/g, ' ').replace(/\b\w/g, (l) => l.toUpperCase());
}
---

<nav
  class="text-base-content/50 scrollbar-hide mb-6 overflow-x-auto text-xs tracking-widest whitespace-nowrap uppercase"
>
  <ul class="flex items-center gap-2">
    <li><a href={basePath} class="hover:text-primary transition">Atividades</a></li>
    {
      parts.map((part, index) => (
        <li class="flex items-center gap-2">
          <span>/</span>
          <span class={index === parts.length - 1 ? 'text-primary font-bold' : ''}>
            {formatLabel(part)}
          </span>
        </li>
      ))
    }
  </ul>
</nav>
