---
import Layout from '~/layouts/PageLayout.astro';
import Search from 'astro-pagefind/components/Search';
---

<Layout>
  <!-- se estiver usando um layout global -->
  <h1>Buscar</h1>
  <Search id="search-component" class="pagefind-ui" />
</Layout>
