---
---
const currentYear = new Date().getFullYear();
---

<footer class="mt-auto bg-[#2E3F46] p-8 text-white" data-pagefind-ignore>
  <div class="mx-auto flex max-w-screen-xl flex-col items-center justify-between gap-4 md:flex-row">
    <p>&copy; {currentYear} CPPS - Centro de Pesquisa Política e Social</p>
  </div>
</footer>
