<nav class="bg-primary text-white p-4 flex justify-between items-center">
  <a class="font-[Lovelo] text-xl" href="/">CPPS</a>
  <div>
    <a href="#institucional" class="btn btn-sm">Institucional</a>
    <a href="#iniciativas" class="btn btn-sm">Iniciativas</a>
  </div>
</nav>
