---
const { icon, title, description, url } = Astro.props;
---

<a 
  href={url} 
  class="block group"
>
  <div class="card bg-gradient-to-r from-primary to-secondary text-base-100 shadow-md hover:shadow-lg transition-shadow group-hover:scale-[1.02] transform duration-300">
    <div class="card-body">
      <div class="flex items-start space-x-4">
        <div class="flex items-center justify-center w-12 h-12 rounded-full bg-base-100 text-primary text-2xl">
          {icon}
        </div>
        <div class="max-w-sm">
          <h3 class="card-title text-[20px] font-display mb-1 group-hover:underline">
            {title}
          </h3>
          <p class="text-[12px] leading-snug">
            {description}
          </p>
        </div>
      </div>
    </div>
  </div>
</a>
