---
import IconSun from "../icons/IconThemeSun.astro";
import IconMoon from "../icons/IconThemeMoon.astro";
const { class: className = "" } = Astro.props;
---

<span class={`relative inline-flex items-center justify-center ${className}`}>
  <span class="theme-icon-sun">
    <IconSun class="w-5 h-5" />
  </span>
  <span class="theme-icon-moon">
    <IconMoon class="w-5 h-5" />
  </span>
</span>

<style is:global>
  /* Esconde o sol se o tema for dark */
  [data-theme='dark'] .theme-icon-sun {
    display: none;
  }
  /* Esconde a lua se o tema NÃO for dark */
  :root:not([data-theme='dark']) .theme-icon-moon {
    display: none;
  }
</style>
