---
const { title = "" } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!DOCTYPE html>
<html lang="pt" data-theme="cpps">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? `${title} - CPPS` : 'CPPS'}</title>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <style is:global>
      @import '../styles/global.css';
    </style>
  </head>
  <body class="font-sans text-neutral bg-base-100 min-h-screen flex flex-col">
    <Header />
    <main class="flex-grow container mx-auto px-4 py-8">
      <slot />
    </main>
    <Footer />
  </body>
</html>
